section.universal_sec {
    background: linear-gradient(180deg, #428C9C52, #428C9C52),url(../img/sponsor/sponsor1.webp) no-repeat;
    background-size: cover;
    background-position: bottom;
}
.contact_right .form-group label {
    display: block;
    font-size: 18px;
    float: none;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;
    color: #88858e;
    font-family: "";
    font-family: "roboto_b", Sans-serif;
}
/* .contact_right .button-group .btn {
    background-color: #FF6D12;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
    width: 100%;
    font-family: "roboto_m";
} */
.contact_right .button-group .btn {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1em;
    padding: 10px 15px;

}
.contact_right .button-group .btn:hover{
    background-color: #2c2734;
    color: #fff;
}
section.contact_infor_sec {
    padding: 5rem 0;
}
.contact_left h4 {
    margin: 0;
    font-family: "roboto_m";
    font-size: 28px;
}
.contact_left .para_txt {
    margin: .5rem 0;
}
.contact_map {
    margin-top: 2rem;
}
.contact_right .form-group .iti {
    width: 100%;
}