section.universal_sec {
    background: linear-gradient(180deg, #428C9C52, #428C9C52),url(../img/give/give1.webp) no-repeat;
    background-size: cover;
}
section.christ_sec.third_sec {
    padding: 4rem 0;
}

section.sec_bot_link a {
    color: #000000;
    font-family: "roboto_b", Sans-serif;
    font-size: 28px;
    font-weight: 600;
}
section.sec_bot_link{
    text-align: center;
    padding-bottom: 4rem;
}