section.universal_sec {
    background: linear-gradient(180deg, #428C9C52, #428C9C52),url(../img/ecm_team/ecm_team1.webp) no-repeat;
    background-size: cover;
    background-position: bottom;
}
.signup_form .form-group label {
    display: block;
    font-size: 18px;
    float: none;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;
    color: #88858e;
    font-family: "";
    font-family: "roboto_b", Sans-serif;
}
/* .signup_form .button-group .btn {
    background-color: #FF6D12;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
    width: 100%;
    font-family: "roboto_m";
} */
.signup_form .button-group .btn{
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1em;
    padding: 10px 15px;
}
.signup_form .button-group .btn:hover{
    background-color: #2c2734;
    color: #fff;
}
.signup_form {
    padding: 5rem 0;
}
.signup_form  label.text_label {
    display: block;
    font-size: 13px;
    float: none;
    font-weight: 400;
    line-height: 1.3;
    margin: 4px 0 0;
    padding: 0;
    color: #88858e;
    font-family: "rubik";
}
.signup_form label.form-check-label {
    color: #88858e;
    font-family: "rubik";
    font-size: 18px;
    vertical-align: baseline;
    font-size: 19px;
    font-weight: 100;
    line-height: 1.3;
}
.signup_form .form-check {
    margin: 1.5rem 0;
}
.signup_form  label {
    display: block;
    font-size: 18px;
    float: none;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;
    color: #88858e;
    font-family: "";
    font-family: "roboto_b", Sans-serif;
}
.btn_give .button-group a.btn {
    background-color: #FF6D12;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
    font-family: "roboto_m";
}
.btn_give .button-group{
    text-align: right;
}

.signup_right h2 {
    color: #5A5A5A;
    font-family: "roboto_m", Sans-serif;
    font-size: 18px;
    /* font-weight: 600; */
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    padding: 0px 10px 0px 10px;
    background-color: #CBCBCB;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #9E9E9E;
}
.signup_right {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
}
.signup_right p {
    line-height: 36px;
    font-family: "roboto_m", Sans-serif;
    font-size: 15px;
    color: #7A7A7A;
    padding: 1rem;
}
.btn_give {
    padding: 0 1rem 1rem;
}
.signup_right > p {
    margin-bottom: 0;
}
section.signup_sec {
    padding: 6rem 0;
}