/* Font Family */
@import url("https://fonts.cdnfonts.com/css/sf-ui-display");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* Universal Css Start Here */
:root {
	--first-color: #c23127;
	--second-color: #2d2525;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "SF UI Display", sans-serif;
}
@font-face {
	font-family: "roboto_b";
	src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
	font-family: "roboto_m";
	src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
	font-family: "roboto_r";
	src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: "robotoslab";
	src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}
@font-face {
	font-family: "rubik";
	src: url(../fonts/Rubik-VariableFont_wght.ttf);
}
@font-face {
	font-family: "abrilfatface";
	src: url(../fonts//AbrilFatface-Regular.ttf);
}
@font-face {
	font-family: "shadowlight";
	src: url(../fonts/ShadowsIntoLight-Regular.ttf);
}
p {
	font-size: 16px;
}
h1 {
	font-family: "oriental";
	font-size: 111px;
	list-style: 121px;
}
h2 {
	font-family: "robotoslab" !important;
	font-size: 56px;
	font-weight: 600;
	line-height: 66px;
}
h3 {
	font-size: 22px;
	font-weight: 400;
	line-height: 32px;
}
h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
}
h5 {
	font-size: 13px;
	line-height: 23px;
}
a.gcmco-btn {
	background-color: #FF6D12;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s;
	border-radius: 50px;
}
a.gcmco-btn:hover {
	background-color: #2c2734;
    color: #fff;
}
figure {
	margin-bottom: 0;
}
/* Universal Css End Here */

/* Prelaoder */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #FF6D12;
}
#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #f2f2f2;
	border-top: 6px solid #FF6D12;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
h4.orange_heading {
    color: #ff6d12;
    font-size: 30px;
    line-height: 40px;
    font-family: 'roboto_b';
}
h2.heading1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    color: #2c2734;
    margin: 0;
    margin-bottom: 40px;
}
h4.heading2 {
    font-size: 22px;
    color: #fff;
    line-height: 30px;
    font-family: "roboto_b";
}
.para_txt2 {
    color: #98959c;
    font-size: 18px;
    font-family: "roboto_b";
}
.para_txt {
    font-family: "roboto_r", Sans-serif;
    font-weight: 500;
    /* margin: 0px 0px -20px 0px; */
    font-size: 18px;
    line-height: 34px;
    color: #88858e;
}
h4.yellow_heading {
    color: orange;
    font-size: 22px;
    font-family: "roboto_b";
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
  }
  hr.light_line {
    background: #ffffff17;
}
/* header css start here */
header#headerTop .navbar_menus ul.menus {
    list-style: none;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-left: 0;
    margin-bottom: 0;
    gap: 15px;
}
header#headerTop .top_header .tophead_left {
    display: flex;
    align-items: center;
    gap: 20px;
}
header#headerTop .top_header .tophead_content {
    display: flex;
    align-items: center;
	gap: 5px;
}
header#headerTop .top_header {
    background: #2C2734;
	padding: 1rem;
}
header#headerTop .top_header .tophead_content span {
    color: #fff;
    font-family: "roboto_r", Sans-serif;
}
header#headerTop .top_header .tophead_content i {
    color: #FF6D12;
}
header#headerTop .top_header .tophead_content:hover i {
    color: #fff;
}
header#headerTop .top_header .tophead_social i {
    color: #54595F;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    margin-left: 5px;
}
header#headerTop .navbar_menus ul.menus li.menu-items a {
    text-decoration: none;
    color: #88858E;
    font-family: 'roboto_r';
    font-size: 17px;
}
header#headerTop .navbar_menus ul.menus li.menu-items a.dropdown-item.the_drop_menu {
    padding: 10px 30px 10px 10px;
}
header#headerTop .navbar_menus ul.menus li.menu-items a.menu_anc{
    padding: 1rem 0;
}
header#headerTop .navbar_menus ul.menus li.menu-items a.menu_anc:hover:after{
    content: "";    
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    height: 3px;
    background: #ff6d12;
    transform: scaleX(1);
    opacity: 1;
    transition: all 300ms ease;
    z-index: 999;
    
}
header#headerTop .navbar_menus ul.menus li.menu-items.active a.menu_anc{
    color: #000;
}
header#headerTop .navbar_menus ul.menus li.menu-items.active a.menu_anc:after{
    content: "";    
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    height: 2px;
    background: #ff6d12;
    transform: scaleX(1);
    opacity: 1;
    transition: all 300ms ease;
    z-index: 999;
    color: #000;
}
header#headerTop .navbar_menus ul.menus li button{
    padding: 7px 1rem;
}
header#headerTop .navbar_menus ul.menus li.menu-items {
    position: relative;
    padding: 9px 0;
}
.search_ico_modal.fade.show {
    background: #000000e6;
}
div#headermodal .modal-dialog {
    max-width: 100%;
    height: 100vh;
    margin: 0;
}
div#headermodal .modal-dialog .modal-body {
    margin: auto;
    width: 100%;
    height: 80vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.signup_form select.form-control.form-control-lg {
    height: calc(3.5rem + 2px) !important;
    line-height: 40px;
    border: 1px solid #00000052;
    padding: 6px 14px;
    margin: 2px 0px 0px 0px;
    border-radius: 7px;
}
div#headermodal .modal-dialog .modal-body .form-group {
    width: 100%;
    display: flex;
}
div#headermodal .modal-dialog .modal-body input.form-control {
    height: 60px;
    border: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-border-radius: 0;
    border-radius: 0;
}
div#headermodal .modal-dialog .modal-body .form-group button.btn {
    border: 0;
    background: #ff6d12;
    color: #fff;
    border-radius: 0;
    width: 120px;
    font-size: 18px;
} .btn_close {
    display: block;
    position: absolute;
    top: 60px;
    right: 60px;
    font-size: 60px;
    color: #fff;
    z-index: 10;
}
.icon_close:before {
    content: "\f00d";
    font-family: 'FontAwesome';
}
 .btn_close:after {
    content: "\f068";
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'FontAwesome';
}
 .btn_close:hover:before {
    opacity: 0;
    transition: all 0.3s;
}
 .btn_close:hover:after {
    opacity: 1;
    transition: all 0.3s;
}
div#headermodal .modal-content{
background: transparent;
}
div#headermodal .modal-header{
    border: 0;
}
div#headermodal .modal-header button.btn-close {
    border: 1px solid #ff6d12;
    border-radius: 2px;
    background: #ff6d12;
    color: #fff;
}
header#headerTop .navbar_menus ul.menus li button {
    border: 0;
    background: transparent;
    color: #88858E;
        font-family: "roboto_r";
        font-size: 17px;
        padding: 4px 1rem;

}
header#headerTop .navbar_menus ul.menus li button:focus-visible {
    box-shadow: none;
    border: 0;
    outline: 0;
}
header#headerTop .navbar_menus ul.menus li button:focus {
    outline: 0;
}
header#headerTop .navbar_menus ul.menus li button.dropdown-toggle::after {
    content: "\f107";
    position: absolute;
    font-family: "FontAwesome";
    border: 0;
}
header#headerTop .navbar_menus ul.menus li button.btn:hover:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    right: 0;
    height: 3px;
    background: #ff6d12;
    transform: scaleX(1);
    opacity: 1;
    transition: all 300ms ease;
    z-index: 999;
}
/* header#headerTop .navbar_menus ul.menus li.menu-items .dropdown:hover .dropdown-menu, header#headerTop .navbar_menus ul.menus li.menu-items .dropdown-menu:hover, header#headerTop .navbar_menus ul.menus li.menu-items  .button:hover .dropdown {
    top: 13px;
} */
/* header#headerTop .navbar_menus ul.menus li.menu-items .dropdown:hover .dropdown-menu.dropdown-submenu , header#headerTop .navbar_menus ul.menus li.menu-items .dropdown-menu.dropdown-submenu:hover, header#headerTop .navbar_menus ul.menus li.menu-items  .button:hover .dropdown{
    
} */
header#headerTop .navbar_menus ul.menus li.menu-items .dropdown-menu.dropdown-submenu {
    top: -20px;
}
/* header#headerTop .navbar_menus ul.menus li.menu-items.active a.menu_anc{
    background: #FF6D12;
    color: #fff;
} */
header#headerTop .navbar_menus ul.menus .dropdown-menu li {
	position: relative;
	}
	header#headerTop .navbar_menus ul.menus .dropdown-menu .dropdown-submenu {
	display: none;
	position: absolute;
	left: 100%;
	top: -7px;
	}
	header#headerTop .navbar_menus ul.menus .dropdown-menu .dropdown-submenu-left {
	right: 100%;
	left: auto;
	}
	header#headerTop .navbar_menus ul.menus .dropdown-menu > li:hover > .dropdown-submenu {
	display: block;
	}
	.dropdown1 .dropdown-toggle:hover ~ .dropdown-menu {
		display: block;
		margin-top: 0;
	}
	.dropdown1 .dropdown-toggle {
		/* pointer-events: none; */
		position: relative;
	}
	.dropdown1{
		position: relative;
	}
    .dropdown:hover .dropdown-menu,.dropdown-menu:hover, .button:hover .dropdown {
        display: block;
        margin-top: 0;
        transition: 3s ease-in-out;
        position: absolute;
        top: 13px;

        left: 0px;
        will-change: transform;
        transform: translate3d(0px, 24px, 0px) ;
        min-width: 119px;
        padding: 13px 10px 13px 10px;
        border-radius: 0px;
     } 
	/* header#headerTop .navbar_menus ul.menus li.menu-items .dropdown button.btn {
		background: transparent;
		border: 0;
		color: #88858E;
		font-family: 'roboto_r';
        font-size: 18px;
	}
    header#headerTop .navbar_menus ul.menus li.menu-items button.btn:hover ~ .dropdown-menu {
        display:block;
    } */
    header#headerTop .navbar_menus ul.menus li.menu-items .dropdown-menu{
        /* display:none; */
        margin-top: 0;
        padding: 0;
    }
    header#headerTop .navbar_menus ul.menus li.menu-items .dropdown ul.dropdown-menu li.active a.the_drop_menu {
        background: #ff6d12;
        color: #fff;
    }
    header#headerTop .navbar_menus ul.menus li.menu-items .dropdown ul.dropdown-menu li a.the_drop_menu:hover{
        background: #ff6d12;
        color: #fff;
    }
	header#headerTop .navbar_menus ul.menus li.menu-items .dropdown .btn-secondary.focus,
	header#headerTop .navbar_menus ul.menus li.menu-items .dropdown .btn-secondary:focus{
		box-shadow: none;
	}
	.main_header {
		background: #fff;
		/* position: static; */
		z-index: 9;
	}
	.open-accessibility {
        position: fixed !important;
        /* direction: rtl; */
        z-index: 10;
        left: 0 !important;
        top: 0 !important;
        min-width: 50px !important;
        right: unset !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        /* user-select: none; */
    }
/* header css end here */

/* universal section start here */
section.universal_sec {
    background: linear-gradient(45deg, #428C9C52, transparent),url(../img/history/universal_banner.jpg) no-repeat;
    background-size: cover;
}
.universal_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25rem;
}
.universal_content h1 {
    color: #fff;
    font-family: "roboto_m", Sans-serif;
    font-size: 50px;
    text-transform: capitalize;
}
.universal_content p {
    color: #fff;
}
.universal_content p {
    color: #fff;
    font-family: "roboto_r", Sans-serif;
    font-size: 20px;
}
@media(max-width:1440px){
    .universal_content {
        padding: 20rem;
    }
}
@media (max-width: 1366px){
.universal_content {
    padding: 18rem;
}
}
@media(max-width:1280px){
    .universal_content {
        padding: 17rem;
    }
}
/* universal section end here */
/* first section helping them today start here */
.helping_today_content p.para_txt {
    font-family: "roboto_m", Sans-serif;
}
.banner_content p {
    font-family: "shadowlight";
    font-size: 35px;
    font-weight: 600;
    color: #ff6d12;
    position: relative;
    background: url(../img/home/line.png) no-repeat;
    background-position: 24px bottom;
    padding-bottom: 5px;
    background-size: 255px 16px;
    padding-right: 25px;
}
.banner_content p::before{
	/* content: url(../img/home/line.png) ; */
	/* background: no-repeat; */
	/* position: absolute; */
    bottom: -19px !important;
    left: 0  !important;
}
.banner_carousel {
    
}
.banner_single{
	position: relative;
}
.banner_carousel .banner_content {
    position: absolute;
    /* transform: translate(-50%,-50%); */
    /* -webkit-transform: translate(-100%,-50%); */
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    align-items: center;
    height: 98%;
	background: #00000080;
	padding:19rem 20rem 29rem;
}
.banner_carousel .banner_single figure img {
    width: 100%;
    height: 1000px;
    object-fit: cover;
    object-position: center;
}
.banner_carousel .slick-prev, .banner_carousel .slick-next{
    z-index: 9;
	/* transform: translate(192px, -32px) rotate(180deg) skew(360deg, 0deg);
    top: 50%; */
    /* left: 0px; */
}
.banner_carousel .slick-prev{
    left: 11%;
    /* background: url(../img/home/arrows.png); */
    height: 50px;
    width: 50px;
}
.banner_carousel .slick-prev:before {
    content: "\f177 ";
    font-family: "FontAwesome";
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 1rem;
    font-size: 26px;
    background-position-x: -60px;
    transition: .30s all;
    -webkit-transition: .30s all;
    -moz-transition: .30s all;
    -ms-transition: .30s all;
    -o-transition: .30s all;
}
.banner_carousel .slick-next:before {
    content: "\f178 ";
    font-family: "FontAwesome";
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 1rem;
    font-size: 26px;
    background-position-x: 60px;
    transition: .30s all;
    -webkit-transition: .30s all;
    -moz-transition: .30s all;
    -ms-transition: .30s all;
    -o-transition: .30s all;
}
.banner_carousel .slick-next:hover:before {
    /* content: ""; */
    background: url(../img/home/popularcause1.jpg);
    background-size: 90px;
    padding: 1rem;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position-x: 0;
    background-position-y: -1px;
}
.banner_carousel .slick-prev:hover:before {
    /* content: ""; */
    background: url(../img/home/popularcause1.jpg);
    background-size: 90px;
    padding: 1rem;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position-x: 0;
    background-position-y: -1px;
}
.banner_carousel .slick-next{
    right: 13%;
}
.banner_carousel .banner_content h1 {
    z-index: 11;
    font-family: "abrilfatface";
    height: auto;
    color: rgb(255, 109, 18);
    text-decoration: none;
    white-space: normal;
    /* width: 712px; */
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 120px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 62px;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}
/* .banner_nav {
    position: absolute;
    top: 50%;
    left: 50%;
} */

/* first section helping them today end here */

/* helping today section start here */
section.second_section.helping_today {
    padding: 3rem 0;
}
.helping_today_content ul {
	list-style: none;
	padding-left: 0;
}
.helping_today_content ul li i{
color: #FF7E00;
font-size: 17px;
}
.helping_today_content ul li {
	color: #54595F;
	font-size: 20px;
	margin: 3px 0;
}
/* helping today section end here */
/* in christ name section start here */
section.christ_sec.third_sec h2.heading2 {
    margin-top: 0;
}
h2.heading2 {
    color: #000000;
    font-family: "roboto_m", Sans-serif !important;
    font-size: 50px;
    font-weight: 600;
}
.christnamecontent .button-group a {
    font-size: 18px;
    margin-top: 1rem;
    background-color: #FF9D00;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    color: #fff;
    font-family: 'roboto_b';
}
.christnamecontent .button-group {
    margin: 1rem 0;
}
.christnamecontent .para_text2 a p {
    font-size: 24px;
    color: #000;
    font-family: "roboto_m";
}
.christnamecontent .para_text2 a{
	text-decoration: none;
}
.christnamecontent figure img {
    /* height: 360px; */
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 340px;
    object-fit: cover;
    object-position: top;
}
section.christ_sec.third_sec {
    padding: 2rem 0 4rem;
}
.christnamecontent figure img:hover {
    filter: brightness(0.8);
    transition: .6s;
}

.christnamecontent.slick-slide {
    padding: 0 20px;
}
/* in christ name section end here */
/* fourth section start here */
section.fourth_sec.headlthy_section{
background: url(../img/home/we_are_helping_bg.png);
background-attachment: fixed;
padding: 6rem 0;
}
section.fourth_sec.headlthy_section h2.heading1 {
    color: #FDFDFD;
}
 hr.black_liner {
    background: #000;
    border-top: 1px solid #000;
}
.healthy_leftside {
    padding-right: 4rem;
}
.healthy_rightside figure img {
    width: 96px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}
.healthy_rightside:hover figure img{
	transform: rotate(360deg);
    
}
.healthy_rightside .healthy_iconimg {
    width: 140px;
}
.healthy_rightside {
    display: flex;
    gap: 10px;
	padding: 1rem 0;
}

/* fourth section end here */
/* fifth section ask question start here */
section.fifth_sec.ask_ques_sec .accordion-item .accordion-header .accordion-button {
    background-color: #FF6D12;
    padding: 15px 30px 15px;
    border: 1px solid #eae5e3;
    border-radius: 35px;
    position: relative;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    font-family: "roboto_b";
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0px;
    width: 100%;
    text-align: left;
	outline: unset;
	position: relative;
	color: #fff;
}
section.fifth_sec.ask_ques_sec .accordion-body p {
    padding: 0 3rem;
}
section.fifth_sec.ask_ques_sec {
    background: url(../img/home/bg-asked-questions.png) no-repeat;
    background-position: -8vw 10vh;
    background-repeat: no-repeat;
    background-size: 50% auto;
	padding: 6rem 0 1rem;
}
section.fifth_sec.ask_ques_sec .accordion-item .accordion-header button.accordion-button.collapsed:after{
	content: "\f067";
	font-family: "FontAwesome";
	font-weight: 100;
	position: absolute;
	right: 30px;
	color: #FF6D12;
}
section.fifth_sec.ask_ques_sec .accordion-item .accordion-header .accordion-button:after{
	content: "\f068";
	font-family: "FontAwesome";
	font-weight: 100;
	position: absolute;
	right: 30px;
	color: #fff;
}
section.fifth_sec.ask_ques_sec .accordion-item .accordion-header button.accordion-button.collapsed{
	background: #fff;
	color: #000;
}

.ask_ques_right figure img.rightbig {
    margin-top: -12rem;
    border-radius: 10px;
}
.bot_orange_dv p {
    font-family: "shadowlight";
    font-size: 36px;
	font-weight: 600;
	color: #fff;
}
.bot_orange_dv figure img {
    width: 100%;
    height: 80px;
}
.bot_orange_dv {
    background: #FF9D00;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 2rem;
    width: fit-content;
    position: absolute;
    bottom: -24px;
    right: 2px;
    width: 410px;
    line-height: 1;
}
.bot_orange_dv figure {
    margin-bottom: 0;
}
.ask_ques_right {
    position: relative;
}
/* fifth section ask question end here */

/* sixth section change live start here */
.changelivecarousel p.quote {
    margin: 0;
    font-family: auto;
    font-size: 60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    background-color: #ff9d00;
    line-height: 75px;
    text-align: center;
}
.changelivecarousel h3.name.thrid_font {
    color: #ff6d12;
    font-size: 25px;
    line-height: 40px;
    font-family: 'roboto_b';
}
.changelivecarousel .client img {
    min-height: 93px;
    max-width: 93px;
    width: 100%;
    border-radius: 50%;
    vertical-align: middle;
    border-style: none;
	margin-bottom: -33px;
}
section.change_live_sec {
    padding-bottom: 5rem;
}
.changelivecarousel .change_content {
	display: flex  !important;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	border-radius: 10px;
	box-shadow: 0px 10px 40px 0px rgb(6 22 58 / 10%);
	padding: 0 2rem;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	padding: 2rem;
}
.changelivecarousel .change_content:hover{
	background: #ff9d00;
}

.changelivecarousel .change_content:hover .para_txt2{
color: #fff;
}
.changelivecarousel .change_content:hover h3.name.thrid_font{
	color: #fff;
}

.changelivecarousel .change_content .para_txt2 {
    font-size: 20px;
	text-align: center;
	height: 95px;
	display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.changelivecarousel .slick-list.draggable {
    padding-bottom:41% !important;
}
.changelivecarousel .change_content .avatar {
    margin-bottom: -45px;
}
/* sixth section change live end here */

/* seven section join prayer start here */
section.seven_sec.join_pray-sec {
    text-align: center;
}
.join_pray_content figure {
    background: #ff6d12;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.join_pray_content h1 {
    font-family: "roboto_b";
    font-size: 60px;
    color: #fff;
	margin-bottom: 0;
}
section.seven_sec.join_pray-sec {
    text-align: center;
    background-image:linear-gradient(179deg, #2C2734, transparent), url(../img/home/kids-in-class.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	padding: 8rem 0;
}
/* seven section join prayer end here */

/* eight section news and articles start here */
.news_article_sec .addtocartbtn a.btn {
    font-family: "roboto_b";
    font-size: 22px;
    padding: 0;
    color: #FF6D12 !important;
}
.news_article_sec p.para_txt2 {
    color: #54595F;
    font-size: 20px;
    font-family: "roboto_m";
    text-decoration: none;
    margin-bottom: 1rem;
}
.news_article_sec .product-img img {
    width: 100%;
    height: 300px;
    filter: brightness(0.8);
}
.news_article_sec .product-img img:hover{
    filter: brightness(.9);
    -webkit-filter: brightness(.9);
    transition: .5;
    -webkit-transition: .5;
    -moz-transition: .5;
    -ms-transition: .5;
    -o-transition: .5;
}
.news_article_sec .product_desc {
    padding: 1rem;
}
.news_article_sec .addtocartbtn{
	padding: 0 1rem 1rem 1rem;
}
.news_article_sec .button-group a.btn.gcmco-btn {
    font-size: 20px;
}
.news_article_sec {
    padding: 6rem 0;
}
.product-sec {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
}
/* eight section news and articles end here */

/* help and support ninth section start here */
.help_people_carousel .slick-slide {
    padding: 10px;
}
.help_people_carousel .slick-slide figure img {
    border-radius: 10px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
section.help_people_sec {
    padding: 0rem 0 5rem;
}
/* help and support ninth section end here */

/* Footer Css Start Here */
footer {
	padding: 70px 0 0px;
	background: url(../img/home/base-footer.jpg);
  }
  
  footer .footer_content ul.social_icons {
	margin: 0;
	list-style: none;
	padding: 10px 0 45px;
	/* margin-left: 2rem; */
  }
  
  footer .footer_content ul.social_icons li {
	display: inline-block;
	margin-right: 15px;
	font-size: 21px;
  }
  
  footer .footer_content ul.social_icons li a i {
	color: #300c44;
	font-size: 18px;
  }
  
  footer .footer_content p {
	/* color: #300c44; */
	color: #fff;
	font-family: "roboto_r";
	/* font-weight: 600; */
	font-size: 18px;
	line-height: 36px;
  }
  
  footer .copyright {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #300c4417;
	padding: 30px 0 30px;
	
  }
  .footer_bottom{
	background: #231F29;
  }
  
  footer .copyright p {
	margin: 0;
	font-size: 16px;
	/* color: #300c44; */
	font-family: "Rubik", sans-serif;
	/* font-weight: 600; */
	color: #fff;
  }
  
  footer .copyright .right ul.links {
	padding: 0;
	margin: 0;
	list-style: none;
  }
  
  footer .copyright .right ul.links li {
	display: inline-block;
  }
  
  footer .copyright .right ul.links li a {
	color: #000 !important;
	font-size: 13px;
  }
  
  footer ul li a {
    font-family: "roboto_r";
    color: #fff ;
    /* font-weight: 600; */
    text-decoration: none !important;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}
footer ul li a i {
    color: #FF9D00;
}
footer ul li a:hover{
	color: #FF6D12;
}
footer .footer_content ul.footer-links hr.liner {
    background: #E5E5E524;
}
  footer .copyright .right ul.links li.spacer {
	margin: 0 5px;
  }
  
  footer .footer_content .head h5 {
    font-size: 24px;
    padding-bottom: 15px;
    font-family: "abrilfatface";
    color: #FFFFFF;
	line-height: 40px;
	font-weight: bold;
}
footer ul li a i.fab.fa-facebook-f {
    background: #465FDD;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
	color: #fff;
}
footer ul li a i:hover {
    background: #FF6D12 !important;
}
footer ul li a i.fab.fa-twitter {
    background: #56B4E5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
	color: #fff;
}
footer ul li a i.fab.fa-instagram {
    background: #D8423F;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
	color: #fff;
}

  footer .footer_content ul.footer-links {
	padding: 0;
	margin: 0;
	list-style: none;
  }
  .footer_content .logoDv figure img {
    margin-top: 3.5rem;
}
  
footer .footer_content ul.footer-links li {
    margin: 10px 0;
}
  
  footer .footer_content .logoDv {
	margin: -50px 0 0 -30px;
  }
  
  footer ul li a .tiktok {
	width: 15px;
	margin-bottom: 5px;
  }
  /* back to top button start here */
  #backtotop {
    display: inline-block;
    background-color: #FF6D12;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 80px;
    right: 0px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #backtotop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #backtotop:hover {
    cursor: pointer;
    background-color: #333;
  }
  #backtotop:active {
    background-color: #555;
  }
  #backtotop.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  
  @media (min-width: 500px) {
    
    #backtotop {
      margin: 30px;
    }
  }
  
  /* back to top button end here */

  @media (max-width: 991px) {
	footer .footer_content {
	  margin-bottom: 60px;
	  text-align: center;
	}
  
	footer .copyright {
	  display: block;
	  text-align: center;
	}
  
	footer .copyright .left {
	  padding-bottom: 15px;
	}
  }
  
  @media (max-width: 575px) {
	footer {
	  padding: 30px 0 30px;
	}
  
	footer .footer_content .logoDv {
	  margin: 0px 0 0 0px;
	}
  }
  
  /* Footer Css End Here */

  /* responsive start here */
  @media(max-width:1440px){
    .banner_carousel .banner_content{
        padding: 24rem 9rem;
    }
}
@media(max-width:1366px){
    .banner_carousel .banner_content{
        padding: 22rem 9rem;
    }
}
@media(max-width:1280px){
    .banner_carousel .banner_content{
        padding: 20rem 9rem;
    }
    
}
@media(max-width:1260px){
    .banner_carousel .banner_content {
        padding: 20rem 7rem;
    }
}
@media(max-width:1200px){
    .banner_carousel .banner_content{
        padding: 18rem 6rem;
    }
}


  @media(max-width:1199px){
    .banner_carousel .banner_content {
        padding: 18rem 10rem;
    }
    .banner_carousel .slick-next{
        right: 15%;
    }
    section.fourth_sec.headlthy_section h2.heading1{
        font-size: 40px;
    }
    .bot_orange_dv{
        padding: 1rem;
        width: 325px;
    }
    .bot_orange_dv p{
        font-size: 28px;
    }
    .bot_orange_dv figure img {
        width: 80px;
    }
    .changelivecarousel .slick-list.draggable {
        padding-bottom: 42% !important;
    }
    .join_pray_content h1{
        font-size: 40px;
    }
    .help_people_carousel .slick-slide figure img{
        height: 220px;
    }
    .banner_carousel .banner_content h1{
        font-size: 50px;
    }
    header#headerTop .navbar_menus ul.menus li.menu-items .dropdown:hover .dropdown-menu, header#headerTop .navbar_menus ul.menus li.menu-items .dropdown-menu:hover, header#headerTop .navbar_menus ul.menus li.menu-items .button:hover .dropdown{
        top: 8px;
    }
    header#headerTop .navbar_menus ul.menus li.menu-items a.menu_anc:hover:after{
        bottom: 6px;
    }
}
@media(max-width:1100px){
    .banner_carousel .banner_content {
        padding: 14rem 8rem;
    }
}
@media(max-width:1024px){
    .banner_carousel .banner_content {
        padding: 21rem 7rem 0;
    }
}
@media(max-width:991px){
    .banner_carousel .banner_content {
        padding: 23rem 6rem 0;
    }
}
  /* responsive end here */
